# OS
.DS_Store
*~


# Jupyter
.ipynb_checkpoints


# Tensorflow
checkpoint
*.ckpt.*
tf_logs


# Python
__pycache__


# File types
*.txt
*.json
*.jpg
*.png

*.index
*.meta
*.data-*
*_logs

# Directories
data
MNIST_data

