# OS
#===
.DS_Store
*~


# Jupyter
#========
.ipynb_checkpoints


# Tensorflow
#===========
checkpoint
*.ckpt.*
tf_logs


# Python
#=======
__pycache__


# File types
#===========
*_logs
*.data-*
*.iml
*.index
*.json
*.jpg
*.local
*.meta
*.midi
*.mp3
*.png
*.pt
*.txt


# Directories
#============
data
MNIST_data
dl4j*
.idea
.idea.bak
out/
